@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,600,700&display=swap&subset=korean');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Gothic A1', sans-serif;
  height: 100%;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}