@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,600,700&display=swap&subset=korean');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Gothic A1', sans-serif;
  height: 100%;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

@function ratio($num) {
  @return $num / 360 * 100vw;
}

@mixin font($size, $weight: 400, $color: #3e3e3e) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

#root {
  height: 100%;
}

.app {
  background-color: #f0f0f2;
  padding-top: ratio(26);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;

  .header-title {
    @include font(ratio(33), 700, #000);

    padding-left: ratio(28);

    @media screen and (min-width: 600px) {
      @include font(36px, 700, #000);

      padding-left: 42px;
    }
  }

  .link-nav {
    margin-top: ratio(40);
    display: flex;
    padding: 0 ratio(28) ratio(5);
    justify-content: space-between;
    box-shadow: 20px 20px 40px #f0f0f2;
    z-index: 1;

    li {
      a {
        @include font(ratio(17), 400, #999);
      }

      &.on {
        a {
          @include font(ratio(20), 700, #3e3e3e);
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin-top: 60px;
      justify-content: flex-start;
      padding: 0 42px;

      li {
        margin-right: 35px;

        a {
          @include font(20px, 400, #999);

          &:hover {
            @include font(20px, 600, #3e3e3e);
          }
        }
      }
    }
  }

  .container {
    padding-top: ratio(40);
    padding-bottom: ratio(20);
    flex: 1;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;

    .content {
      .header {
        display: flex;
        padding: 0 ratio(20);
        align-items: flex-end;

        h2 {
          @include font(ratio(20), 600);
        }

        button {
          @include font(ratio(16), 400, #4ea3f8);

          margin-left: auto;
          text-decoration: underline;
        }
      }

      .address-list {
        li {
          margin: ratio(30) ratio(20) 0;
          padding: ratio(15) ratio(20);
          display: flex;
          align-items: center;
          background: #f0f0f2;
          box-shadow: 5px 5px 10px #ccccce, -5px -5px 10px #ffffff;
          border-radius: ratio(8);

          .info {
            max-width: calc(100% - 30px);

            h5 {
              @include font(ratio(14), 600, #3e3e3e);

              margin-bottom: ratio(6);
              line-height: 1.5;
              display: flex;

              span {
                @include font(ratio(10), 400, #fff);

                line-height: 2;
                padding: 0 ratio(5);
                margin-left: ratio(5);
                border-radius: ratio(4);
                display: block;
                color: #fff;
                background: #ff5757;
                box-shadow: 2px 2px 4px #ccccce, -2px -2px 4px #ffffff;
              }
            }

            p {
              @include font(ratio(12), 400, #989898);

              word-break: keep-all;
            }
          }

          button {
            margin-left: auto;
            display: block;
            width: ratio(25);
            height: ratio(25);
            border-radius: 50%;
            color: #5e5e5e;
            line-height: ratio(23);
            background: linear-gradient(145deg, #ffffff, #d8d8da);
            box-shadow: 3px 3px 5px #ccccce, -3px -3px 5px #ffffff;
          }
        }
      }

      .address-setting-pop {
        position: absolute;
        border-radius: ratio(20) 0 ratio(20) ratio(20);
        background-color: #f0f0f2;
        transform: translate(-100%, 30%);
        box-shadow: 5px 5px 10px #ccccce, -5px -5px 10px #ffffff;
        z-index: 20;

        button {
          display: block;
          width: ratio(100);
          line-height: ratio(40);
        }
      }

      .more-btn {
        @include font(ratio(15), 600, #4ea3f8);

        display: block;
        margin: ratio(40) auto;
        text-decoration: underline;
      }

      .notice {
        border: 1px solid #e1e1e1;
        border-radius: ratio(8);
        margin: ratio(20) ratio(20) 0;
        padding: ratio(20);

        h4 {
          @include font(ratio(15), 600, #3e3e3e);

          margin-bottom: ratio(14);
        }

        p {
          @include font(ratio(11), 400, #989898);

          line-height: 1.54;

          a {
            margin-left: ratio(5);
            color: #4ea3f8;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    padding-top: 50px;
  }
}