.address-tooltip {
  position: absolute;
  border-radius: ratio(15) 0 ratio(15) ratio(15);
  background-color: #f0f0f2;
  transform: translate(-100%, 30%);
  box-shadow: 5px 5px 10px #ccccce, -5px -5px 10px #ffffff;
  z-index: 20;
  overflow: hidden;
  opacity: 0;
  transition: opacity .15s;

  &.on {
    opacity: 1;
  }

  button {
    @include font(ratio(12), 400, #4ea3f8);

    display: block;
    width: ratio(100);
    line-height: ratio(30);
    text-decoration: underline;
    cursor: pointer;

    &:nth-child(2) {
      color: #ff5757;
    }
  }

  @media screen and (min-width: $pad) {
    border-radius: 15px 0 15px 15px;

    button {
      padding: 0 15px;
      text-align: left;
      font-size: 16px;
      width: 160px;
      line-height: 40px;
      text-decoration: none;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}