.text-input {
  background-color: #f0f0f2;
  box-shadow: inset 3px 3px 5px #ccccce, inset -3px -3px 5px #ffffff;
  border-radius: ratio(10);
  padding: ratio(10);
  height: ratio(42);

  input {
    @include font(ratio(12), 400);

    height: 100%;
    width: 100%;
    display: block;
  }
}

.check-box {
  display: flex;
  align-items: center;

  input {
    border-radius: ratio(4);
    width: ratio(20);
    height: ratio(20);
    background: linear-gradient(145deg, #ffffff, #d8d8da);
    box-shadow: 2px 2px 4px #ccccce, -2px -2px 4px #ffffff;

    &:checked {
      border-radius: ratio(6);
      border: ratio(2) solid #f0f0f2;
      background: linear-gradient(145deg, #e64e4e, #ff5d5d);
      box-shadow: 2px 2px 4px #ccccce, -2px -2px 4px #ffffff;
    }
  }

  label {
    @include font(ratio(12), 400, #3d3d3d);

    margin-left: ratio(8);
  }
}

.confirm {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(118, 118, 118, 0.8);
  display: flex;
  align-items: center;
  z-index: 21;

  .wrap {
    width: 100%;
    border-radius: ratio(8);
    margin: 0 ratio(24);
    background-color: #F0F0F2;

    .description {
      padding: ratio(44) 0;

      p {
        @include font(ratio(18), 600, #2f2f2f);

        text-align: center;
      }
    }

    .remote {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #979797;

      button {
        @include font(ratio(14), 600);

        width: 50%;
        height: ratio(65);

        &:first-child {
          color: #ed635e;
          border-right: 1px solid #979797;
        }
      }
    }
  }
}