.text-input {
  background-color: #f0f0f2;
  box-shadow: inset 3px 3px 5px #ccccce, inset -3px -3px 5px #ffffff;
  border-radius: ratio(10);
  padding: ratio(10);
  height: ratio(42);

  input {
    @include font(ratio(12), 400);

    height: 100%;
    width: 100%;
    display: block;
  }
}

.check-box {
  display: flex;
  align-items: center;

  input {
    border-radius: ratio(4);
    width: ratio(20);
    height: ratio(20);
    border: ratio(2) solid #f0f0f2;
    background: linear-gradient(145deg, #ffffff, #d8d8da);
    box-shadow: 2px 2px 4px #ccccce, -2px -2px 4px #ffffff;

    &:checked {
      border-radius: ratio(6);
      background: linear-gradient(145deg, #e64e4e, #ff5d5d);
      box-shadow: 2px 2px 4px #ccccce, -2px -2px 4px #ffffff;
    }
  }

  label {
    @include font(ratio(12), 400, #3d3d3d);

    margin-left: ratio(8);
  }
}