@import "./default.scss";
@import "./tool.scss";
@import "./common.scss";
@import "./toast.scss";
@import "./add-pop.scss";

.app {
  background-color: #f0f0f2;
  padding-top: ratio(26);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;

  .header-title {
    @include font(ratio(33), 700, #000);

    padding-left: ratio(28);

    @media screen and (min-width: $pad) {
      font-size: 36px;
      padding-left: 42px;
    }
  }

  @import "./nav.scss";

  .container {
    padding: ratio(40) 0 ratio(20);
    flex: 1;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;

    .content {
      .header {
        display: flex;
        padding: 0 ratio(20);
        align-items: flex-end;

        h2 {
          @include font(ratio(20), 600);
        }

        button {
          @include font(ratio(16), 400, #4ea3f8);

          cursor: pointer;
          margin-left: auto;
          text-decoration: underline;
        }

        @media screen and (min-width: $pad) {
          padding: 0 40px;

          h2 {
            font-size: 20px;
          }

          button {
            font-size: 16px;
          }
        }

        @media screen and (min-width: $desktop) {
          padding: 0;
          margin-bottom: 20px;
        }
      }

      @import "./address-list.scss";
      @import "./address-tooltip.scss";

      .more-btn {
        @include font(ratio(15), 600, #4ea3f8);

        cursor: pointer;
        display: block;
        margin: ratio(40) auto;
        text-decoration: underline;

        @media screen and (min-width: $pad) {
          @include font(16px, 400, #252525);

          text-decoration: none;
          margin: 20px auto;
        }
      }

      .notice {
        border: 1px solid #e1e1e1;
        border-radius: ratio(8);
        margin: ratio(20) ratio(20) 0;
        padding: ratio(20);

        h4 {
          @include font(ratio(15), 600, #3e3e3e);

          margin-bottom: ratio(14);
        }

        p {
          @include font(ratio(11), 400, #989898);

          line-height: 1.54;

          a {
            margin-left: ratio(5);
            color: #4ea3f8;
            text-decoration: underline;
          }
        }

        @media screen and (min-width: $pad) {
          border-radius: 8px;
          margin: 20px 40px 0;
          padding: 20px;

          h4 {
            font-size: 17px;
            margin-bottom: 14px;
          }


          p {
            font-size: 13px;
            line-height: 20px;

            a {
              margin-left: 5px;
              text-decoration: underline;
            }
          }
        }

        @media screen and (min-width: $desktop) {
          width: 250px;
          margin: 0 0 0 30px;
          position: sticky;
          top: 0;
        }
      }
    }

    @media screen and (min-width: $pad) {
      padding: 50px 0 20px;
    }

    @media screen and (min-width: $desktop) {
      overflow: hidden;

      .content {
        max-width: 1600px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 42px;
        overflow: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
        margin: 0 auto;

        .article {
          flex: 1;
        }
      }
    }
  }

  @media screen and (min-width: $pad) {
    padding-top: 50px;
  }
}